<!DOCTYPE html>
<html>
<head>
<link type="text/css" href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
{% block title -%}
{% if title %}
	<title>Кафедра ИТиЭО - {{title}}</title>
{% else %}
	<title>Кафедра ИТиЭО</title>
{% endif %}
{% endblock %}
</head>
<body>
<div class="container">
	{%- block mainmenu -%}
		<ul class="mainmenu">
			{% for p in menu %}
			<li><a href="{{p.url}}">{{p.title}}</a></li>
			{% endfor %}
		</ul>
	{% endblock mainmenu -%}
    <div class="page-container">
		{% block content -%}
			<div class="clear"></div>
			<div class="content-container">
				<div class="content">
					{% if title -%}
						<h1>{{title}}</h1>
					{% else -%}
						<h1>Кафедра ИТиЭО</h1>
					{% endif -%}
		{% endblock -%}
				</div>
				<div class="sidebar">
				  {% include 'side.html' %}
				</div>
			</div>
    </div>
    {% include 'footer.html' %}
</div>
{#% include 'analytics.jinja2' %#}
</body>
</html>
