{% extends 'base.html' %}

{% block content %}
{{ super() }}

<p>
Кафедра находится по адресу: наб. реки Мойки, 48, корпус 1, ауд. 329 
</p>
<p>
Почта: ctel-herzen@yandex.ru 
</p>
<p>
Кабинет зав. кафедрой находится по адресу: наб. реки Мойки, 48, корпус 1, каб 303 
</p>
<p>
Время приема: вторник с 12 до 14 часов
</p>
{% endblock %}