{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>
Бакалавры (09.03.01 «Информатика и вычислительная техника»)
</p>
<p>
Магистры (44.01.04 «Педагогическое образование»)
</p>

{% endblock %}