{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>
Абрамян Геннадий Владимирович
Профессор, доктор педагогических наук
</p>
<p>
Авксентьева Елена Юрьевна
Доцент, кандидат педагогических наук
</p>
<p>
Аксютин Павел Александрович
Ассистент, ученой степени не имеет
</p>
<p>
Атаян Ануш Михайловна
Доцент, кандидат педагогических наук
</p>
<p>
Власова Елена Зотиковна
Заведующая кафедрой, профессор, доктор педагогических наук
</p>
<p>
Гончарова Светлана Викторовна
Доцент, кандидат педагогических наук
</p>
<p>
Жуков Николай Николаевич
Ассистент, кандидат физико-математических наук
</p>
<p>
Государев Илья Борисович
Доцент, кандидат педагогических наук
</p>
<p>
Шалденкова Анна Владимировна
Доцент, кандидат физ.-мат. наук
</p>
<p>
Иванова Екатерина Алексеевна
Ассистент, ученой степени не имеет
</p>
<p>
Ильина Татьяна Сергеевна
Старший преподавател, ученой степени не имеет
</p>
<p>
Карпова Наталья Александровна
Доцент, кандидат технических наук
</p>

{% endblock %}